/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* fuente */
    font-family: "Inter", sans-serif;
}

/* header */

.header-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}
.header-index nav{
    background-color: #BF0413;
}
.navBar{
    display: flex;
    gap: 1.5625rem;
    list-style-type: none;
}
.navBar li a{
    text-decoration: none;
    color: white;
    font-size: 1.875rem;
    padding: 5px;
}

/* ESTILO INICIO */

body{
    width: 100%;
    height: 100vh;
    background-color: #F27405;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.portada{
    width: 100%;
    height: 640px;
    object-fit: contain;
    position: absolute;
    top: 200px;
    left: -525px;
    z-index: -1;
}
.contenedor-caja{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px 10px 20px;
}
.caja{
    width: 250px;
    height: 600px;
    background-color: #590202;
    color: #F29F05;
    text-align: center;
    margin: 10px;
}
.caja h1{
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px;
}
.caja-img{
    padding: 15px 0px 10px 0px;
}

/* ESTILO BIOGRAFIA */

.portada2{
    width: 100%;
    height: 640px;
    object-fit: contain;
    position: absolute;
    top: 200px;
    left: -489px;
    z-index: -1;
}
.contenedor-caja2{
    width: 800px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px 10px 20px;
}
.caja2{
    width: 800px;
    height: 600px;
    background-color: #590202;
    color: #F29F05;
    text-align: center;
    margin: 10px;
}
.caja2 h1{
    color: #590202;
    background-color: #F29F05;
    font-size: 30px;
    padding: 5px 0px 5px 0px;
}
.caja2 p{
    padding: 10px 20px 0px 20px;
}

/* ESTILO DISCOGRAFIA */

.caja h1{
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px;
}
.caja3{
    width: 250px;
    height: 600px;
    background-color: #590202;
    color: #F29F05;
    text-align: center;
    margin: 10px;
}
.caja3 h1{
    font-size: 30px;
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px;
}

/* ESTILO SHOWS */

.portada4{
    width: 100%;
    height: 640px;
    object-fit: contain;
    position: absolute;
    top: 200px;
    left: -580px;
    z-index: -1;

}
.caja4{
    width: 800px;
    height: 600px;
    background-color: #590202;
    color: #F29F05;
    text-align: center;
    margin: 10px;
}
.caja4 h1{
    font-size: 30px;
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px;
}
.caja4 p{
    font-size: xx-large;
    padding-top: 30px;
}

/* ESTILO TIENDA */

.portada5{
    width: 100%;
    height: 640px;
    object-fit: contain;
    position: absolute;
    top: 200px;
    left: -380px;
    z-index: -1;
}
.contenedor-caja5{
    width: 33%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 20px;
}
.caja5{
    width: 250px;
    height: 290px;
    background-color: #590202;
    color: #F29F05;
    text-align: center;
    margin: 10px;
}
.caja5 h1{
    color: #590202;
    background-color: #F29F05;
}
.caja-img5{
    width: 250px;
    height: 250px;
}
.caja5 p{
    font-size: 11px;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    width: 100%;
    height: 100px;
    background-color: #BF0413;
}
footer div{
    width: 200px;
    display: flex;
    align-items: center;
}
h2{
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.redes{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 0px;
}