/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fuente */
  font-family: "Inter", sans-serif; }

.header-index {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  width: 100%;
  height: 12.5rem; }

.logo {
  width: auto;
  height: auto; }

.navBar {
  display: flex;
  background-color: #BF0413;
  gap: 1.5625rem;
  list-style-type: none; }
  .navBar li a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 1.875rem;
    padding: 5px; }
    .navBar li a:hover {
      color: #590202; }

body {
  width: 100%;
  height: 100vh;
  background-color: #F27405; }

.gridContenedor {
  display: grid;
  width: 100%;
  height: 100vh;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 122px 40px 1fr;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .gridContenedor img {
    width: 8rem;
    height: 8rem;
    grid-column: 1/2;
    grid-row: 2/3; }

.gridContenedor header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-area: header;
  grid-column: 2/3;
  grid-row: 1/2; }

.gridContenedor main {
  width: 100%;
  height: 40rem;
  background-color: #D9D9D9;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row: 3/4; }

.gridContenedor2 img {
  width: 100%;
  height: 640px;
  grid-column: 1/3;
  grid-row: 2/3;
  object-fit: cover; }

.gridContenedor2 h1, .gridContenedor2 .caja3 h2, .caja3 .gridContenedor2 h2, .gridContenedor2 .caja3 h3, .caja3 .gridContenedor2 h3, .gridContenedor2 .caja h2, .caja .gridContenedor2 h2, .gridContenedor2 .caja h3, .caja .gridContenedor2 h3 {
  width: 91%;
  height: 6%;
  text-align: center;
  margin: 20px 40px;
  background-color: #F29F05;
  color: #590202;
  grid-column: 3/5;
  grid-row: 2/3;
  order: 2; }

.gridContenedor2 p {
  width: 91%;
  height: 87%;
  margin: 40px;
  border: 20px;
  padding: 20px;
  text-align: center;
  background-color: #590202;
  color: #F29F05;
  grid-column: 3/5;
  grid-row: 2/3;
  order: 1; }

.gridContenedor footer {
  width: 100%;
  height: 100px;
  grid-area: footer;
  grid-column: 1/5;
  grid-row: 4/5;
  margin-top: 20px; }
  .gridContenedor footer p {
    width: 12.5rem;
    color: #D9D9D9;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 20px; }

.redes img {
  width: 55px;
  height: 55px; }

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.portada {
  width: 100%;
  height: 40rem;
  object-fit: contain;
  position: absolute;
  top: 200px;
  left: -520px;
  z-index: -1; }
  .portada img {
    width: 100%;
    height: 40rem; }

.contenedor-caja3 {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px; }

.caja3 {
  width: 250px;
  height: 600px;
  background-color: #590202;
  color: #F29F05;
  text-align: center;
  margin: 10px; }
  .caja3 h1, .caja3 h2, .caja3 h3 {
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px; }
  .caja3 h2, .caja3 h3 {
    font-size: 1.17em;
    font-weight: bold; }

.caja-img {
  width: auto;
  height: auto;
  padding: 10px 0px 10px 0px; }

.texto {
  text-align: center;
  padding: .625rem .625rem; }

.portada4 {
  width: 100%;
  height: 640px;
  object-fit: contain;
  position: absolute;
  top: 200px;
  left: -480px;
  z-index: -1; }

.contenedor4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.contenedor-caja4 {
  width: 50rem;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px; }

.caja4 {
  width: 800px;
  height: 600px;
  background-color: #590202;
  color: #F29F05;
  text-align: center;
  margin: 10px; }

.caja4 h1, .caja4 .caja3 h2, .caja3 .caja4 h2, .caja4 .caja3 h3, .caja3 .caja4 h3, .caja4 .caja h2, .caja .caja4 h2, .caja4 .caja h3, .caja .caja4 h3 {
  font-size: 30px;
  color: #590202;
  background-color: #F29F05;
  padding: 5px 0px 5px 0px; }

.caja4 p {
  font-size: xx-large;
  padding-top: 30px; }

.gridContenedor21 {
  display: grid;
  width: 100%;
  height: 100vh;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 122px 40px 1fr;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .gridContenedor21 img {
    width: 8rem;
    height: 8rem;
    grid-column: 1/2;
    grid-row: 2/3; }

.gridContenedor21 header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-area: header;
  grid-column: 2/3;
  grid-row: 1/2; }

.gridContenedor21 main {
  width: 100%;
  height: 640px;
  background-color: #D9D9D9;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row: 3/4; }

.gridContenedor22 img {
  width: 1300px;
  height: 640px;
  grid-column: 1/3;
  grid-row: 1/2;
  object-fit: cover; }

.cardsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  grid-column: 3/5;
  grid-row: 1/2;
  grid-template-areas: "cardsContainer cardsContainer" "cardsContainer cardsContainer"; }

.cards {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #D9D9D9;
  color: #590202; }
  .cards img {
    width: 250px;
    height: 250px; }

.gridContenedor22 button {
  font-size: 11px;
  width: 250px;
  height: 32px;
  background-color: #590202;
  color: #F29F05; }

.gridContenedor21 footer {
  width: 100%;
  height: 100px;
  grid-area: footer;
  grid-column: 1/5;
  grid-row: 4/5;
  margin-top: 20px; }
  .gridContenedor21 footer p {
    width: 12.5rem;
    color: #D9D9D9;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 20px; }

.redes img {
  width: 55px;
  height: 55px; }

footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  width: 100%;
  height: 6.25rem;
  background-color: #BF0413; }

footer div {
  width: 12.5rem;
  display: flex;
  align-items: center; }

.footer-privacidad {
  color: #D9D9D9;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center; }

.terminos-condiciones {
  color: #D9D9D9;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center; }

.redes {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px 0px 0px; }

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.portada {
  width: 100%;
  height: 40rem;
  object-fit: contain;
  position: absolute;
  top: 200px;
  left: -520px;
  z-index: -1; }
  .portada img {
    width: 100%;
    height: 40rem; }

.contenedor-caja {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px; }

.caja {
  width: 250px;
  height: 600px;
  background-color: #590202;
  color: #F29F05;
  text-align: center;
  margin: 10px; }
  .caja h1, .caja h2, .caja h3 {
    color: #590202;
    background-color: #F29F05;
    padding: 5px 0px 5px 0px; }
  .caja h2, .caja h3 {
    font-size: 1.17em;
    font-weight: bold; }

.caja-img {
  width: auto;
  height: auto;
  padding: 10px 0px 10px 0px; }

.texto {
  text-align: center;
  padding: .625rem .625rem; }
