// Media Querry 768 \\

@media (max-width: 768px) {

    /* INICIO */
    .logo {
        width: 100%;
    }

    .header-index {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
    }

    .header-index img {
        width: 100%;
    }

    .portada {
        width: 100%;
        object-fit: cover;
        position: absolute;
        left: -19.6875rem;
        clip-path: inset(0 0 30% 0);
        z-index: 1;
    }

    .portada img {
        width: 100%;
        height: 84%;
    }

    .contenedor {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .contenedor-caja {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
        padding: 0%;
        width: 100%;
        z-index: 0;
    }

    .caja {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 33%;
    }

    .caja img {
        width: 100%;
        height: 50%;
        float: left;
        object-fit: contain;
    }

    p{
        text-align: center;
        padding: 0px 4px 0px 4px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
        p{
            font-size: 18px;
            font-weight: 600;
        }
    }

    .redes {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    /* BIOGRAFIA */
    .gridContenedor {
        align-items: center;
    }

    .gridContenedor header{
        width: 100%;
        display: flex;
        grid-area: header;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: -50px;
    }

    .gridContenedor main{
        width: 768px;
        margin-top: 50px;
    }

    .gridContenedor2 h1{
        width: 95%;
        height: 5%;
        font-size: 20px;
        margin: 10px;
    }
    .gridContenedor2 p{
        width: 95%;
        height: 92%;
        font-size: 12px;
        overflow: auto;
        margin: 40px 10px;
    }
    .gridContenedor footer{
        width: 768px;
    }
    .gridContenedor footer p{
        font-size: 18px;
        padding: 30px;
        margin-top: -20px;
    }
    /* DISCOGRAFIA */
    .header-index {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
    }

    .header-index img {
        width: 15%;
    }

    .portada {
        width: 100%;
        height: 84%;
        object-fit: cover;
        left: -10.6875rem;
        z-index: 1;
        clip-path: inset(0 20% 0 0);
    }

    .contenedor3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .contenedor-caja3 {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding: 0%;
        width: 100%;
        height: 714px;
        z-index: 0;
    }

    .caja3 {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 30%;
        p {
            overflow: auto;
            padding-bottom: 40px;
            font-size: 12px;
        }
    }

    .caja img {
        width: 25%;
        height: 50%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    .redes {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    /* SHOWS */
    .contenedor4 {
        width: 48rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .portada4 {
        width: 100%;
        height: 615px;
        object-fit: cover;
        position: absolute;
        clip-path: inset(0 25% 0 0);
        left: -13.6875rem;
        z-index: 1;
    }

    /* TIENDA */
    .gridContenedor21{
        display: grid;
        width: 100%;
        height: 100vh;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 122px 40px 1fr;
        grid-template-areas:  
        "header header"
        "main main"
        "footer footer"
        ;
        img{
            width: 8rem;
            height: 8rem;
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    .gridContenedor21 header{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-area: header;
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: -50px;
    }
    
    .gridContenedor21 main{
        width: 768px;
        height: 640px;
        background-color: map-get($colores , color4);
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-row: 3/4;
        margin-top: 50px;
    }
    
    .gridContenedor22 img{
        width: 100%;
        height: 640px;
        grid-column: 1/3;
        grid-row: 1/2;
        object-fit: cover;
    }
    
    .cardsContainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-top: 5px;
        gap: 5px;
        grid-column: 3/5;
        grid-row: 1/2;
        grid-template-areas:
        "cardsContainer cardsContainer"
        "cardsContainer cardsContainer"
        ;
        
    
    }
    .cards{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: map-get($colores , color4);
        color: map-get($colores , color5);
    
        img{
            width: 180px;
            height: 250px;
        }
    }
    
    .gridContenedor22 button{
        font-size: 11px;
        width: 180px;
        height: 50px;
        background-color: map-get($colores , color5);
        color: map-get($colores , color2);
    }
    
    
    .gridContenedor21 footer{
        width: 768px;
        height: 100px;
        grid-area: footer;
        grid-column: 1/5;
        grid-row: 4/5;
        margin-top: 20px;
        p{
            width: 12.51rem;
            color: map-get($colores , color4);
            text-align: center;
            font-size: 1.125rem;
            font-weight: 600;
            padding: 10px;
        }
    }
    
    .redes img{
        width: 55px;
        height: 55px;
        
    }

}
